@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200&display=swap');


/* Color pallette based on hero image
#9e410c maroon
#c0a68e dark beige
#d06418 rich orange
#e7dbce Cream
#e4d4c3 slightly darker cream
#352b2c dark brown/off-grey
#d8854f pastel orange
#7a624d light brown/green
#b87067 pastel pink/red
*/


body {
    font-family: Source Sans Pro, sans-serif;
    background-color: #e7dbce;
}

/* Navigation Bar*/
header {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: Montserrat, sans-serif;
    color: #d06418;
}

#logo {
    font-size: 300%;
    text-decoration: none;
}

#menu {
    font-size: 150%;
    text-decoration: none;
}

#menu li {
    list-style-type: none;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* body */


h2 {
    font-family: Montserrat, sans-serif;
}

/* Hero Image*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-skitterphoto-9606.jpg") no-repeat 50% 78%;