@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200&display=swap');


/* Color pallette based on hero image
#9e410c maroon
#c0a68e dark beige
#d06418 rich orange
#e7dbce Cream
#e4d4c3 slightly darker cream
#352b2c dark brown/off-grey
#d8854f pastel orange
#7a624d light brown/green
#b87067 pastel pink/red
*/


body {
    font-family: Source Sans Pro, sans-serif;
    background-color: #e7dbce;
}

/* Navigation Bar*/
header {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: Montserrat, sans-serif;
    color: #d06418;
}

#logo {
    font-size: 300%;
    text-decoration: none;
}

#menu {
    font-size: 150%;
    text-decoration: none;
}

#menu li {
    list-style-type: none;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* body */


h2 {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.center-divs {
    text-align: center;
    padding: 0 300px;
    font-size: 25px;

}

/* Hero Image*/
#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url("../images/pexels-skitterphoto-9606.jpg") no-repeat 50% 78%;

    /* Image animation*/
    position: relative;
    animation-name: float-up;
    animation-duration: 2s;
}

/*Animation for hero image*/
@keyframes float-up {
    0% {
        left: 0px;
        top: 100px;
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

/* Cover text for heo image*/

#cover-text {
    font-size: 160%;
    font-family: Monserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #e7dbce;

    border-radius: 50%;
    border: 10px solid #b87067;
    width: 350px;
    height: 325px;

    padding-top: 25px;
    padding-left: 10px;

    background-color: #352b2caa;

    bottom: 30px;
    right: 150px;

    position: absolute;

    /*Animation for cover text*/
    animation-name: opacity;
    animation-duration: 3s;
}

/*Animation for cover text*/

@keyframes opacity {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cover-text #cover-text-small {
    font-size: 110%;
}

/* Meetups */

#meetups_div {
    padding: 20px 50px;
}

#container_meetups {
    display: grid;
    grid-template-columns: auto auto auto;
    /*grid-template-rows: 20% 40% 40%;*/
}

.float_meetups {
    text-align: center;
    font-size: 110%;
    /*background-color: red;
    border: 3px solid blue;*/
}